@{
    ViewData["Title"] = "admin";
}
<h1>@ViewData["admin"]</h1>

<center><h1>hellow admin pls login for create a techers password </h1> </center>

<a asp-controller="teacherslogin" asp-action="adminlogin" class="btn btn-primary">ADMIN</a>


<script src="~/js/main.js"></script>




